/* You can add global styles to this file, and also import other style files */
body {
    background: rgba(0, 31, 63, 0.582);
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333; /* Set default text color */
 } 